* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* dark mode */

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --border-color: rgba(255, 255, 255, 0.5);
  --btn-bg-color: rgba(255, 255, 255, 0.1);
  --btn-bg-color-hover: rgba(0, 0, 0, 0.05);
  --socials-color-hover: rgba(255, 255, 255, 0.2);
  --btn-darkmode-bg-url: url(assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --border-color: rgba(0, 0, 0, 0.5);
  --btn-bg-color: rgba(0, 0, 0, 0.05);
  --btn-bg-color-hover: rgba(0, 0, 0, 0.02);
  --socials-color-hover: rgba(0, 0, 0, 0.1);
  --btn-darkmode-bg-url: url(assets/sun.svg);
}

body * {
  font-family: "inter", sans-serif;
  color: var(--text-color);
}

body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

/* profile */

#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

#profile img {
  width: 112px;
  display: block;
  margin: auto;
  text-align: center;
}

#profile p {
  font-weight: 500;
  margin: 20px auto;
  text-align: center;
}

/* darkmode */

#darkmode {
  position: relative;
  width: 64px;
  margin: 30px auto;
}

#darkmode button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: white var(--btn-darkmode-bg-url) no-repeat center;
  border: 0;

  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  z-index: 1;
  animation: slide-back 0.4s;
}

#darkmode button:hover {
  outline: 8px solid var(--btn-bg-color);
}

.light #darkmode button {
  animation: slide-in 0.4s forwards;
}

#darkmode span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--btn-bg-color);
  border: 1px solid var(--border-color);
  backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/* links */
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  background: var(--btn-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  font-weight: 500;
  text-decoration: none;
  transition: background 0.5s;
}

ul li a:hover {
  background: var(--btn-bg-color-hover);
  border: 1.5px solid var(--text-color);
}

#socials {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
}

#socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background border-radius 0.2s;
}

#socials a:hover {
  background: var(--socials-color-hover);
  border-radius: 50%;
}

footer {
  padding: 24px 0;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: darkorange;
  font-weight: bold;
}

@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
